@use "../../css/abstracts/mixins" as mix;
@use "../../css/abstracts/variables" as var;

.navbar {
  @include mix.uppercase;
  text-decoration: none;
  font-weight: var.$font-weight-bold;
  font-size: var.$heading-size-small;
  color: var.$text-color-base;
}
