.bg-nav {
    background-color: #343a40;
}

.nav-text {
    color: #8a9da0;
}

.bg-color-explore {
    background-color: #393939;
}

.bg-form {
    background-color: #4900d5;
}

.nav-link.active {
    color: white !important;
}

.navbar-toggler[aria-expanded="true"] {
    border-color: orange;
}  

.navbar-toggler:focus,
.navbar-toggler:active {
    box-shadow: 0 0 0 1px;
}

.bg-img::before  {
    content: "";
    background-image: url(../starter-files/images/home.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    filter: brightness(35%);
    top: 0px;
    right: 0px;
    bottom: -18px;
    left: 0px;
    z-index: -1;
}

img {
    width: 100%;
    height: 100%;
    }

